<section id="sobre" class="w-full py-16 bg-black text-gray-200">
  <div class="text-3xl font-semibold text-center mb-8 text-purple-400">
    <h2 class="text-4xl font-bold text-purple-400 mb-8 text-center">
      Sobre mim
    </h2>
  </div>

    <div class="flex flex-col md:flex-row items-center gap-10">
      <!-- foto avatar -->
       <div class="flex-shrink-0">
        <img
          src="assets/img/perfil.png"
          alt="Foto de perfil"
          class="w-40 h-40 rounded-full ring-4 ring-purple-500 shadow-xl object-cover"
        >
       </div>

      <!-- texto -->
       <div class="space-y-4">
        <p class="text-lg leading-relaxed">
         Sou <span class="text-purple-400 font-semibold">Carina Fernandes</span> e atualmente estou cursando Análise e Desenvolvimento de Sistemas no SENAC.
         Estou em transição para a área de TI, tenho conhecimentos em JavaScript, TypeScript, C#, Angular e Node.js, e já tive experiências com desenvolvimento backend.
         Estou em busca de um estágio onde possa aplicar meus conhecimentos, contribuir para a melhoria dos processos e crescer profissionalmente dentro da área de tecnologia.
      </div>
    </div>

</section>
